services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=labdb
    ports:
      - "5432:5432"

  app:
    environment:
      - DB_CONNECTION_STRING=Host=postgres;Port=5432;Database=labdb;Username=postgres;Password=postgres;