/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0d60e1;
  --ifm-color-primary-dark: #0050cc;
  --ifm-color-primary-darker: #0045b3;
  --ifm-color-primary-darkest: #003080;
  --ifm-color-primary-light: #2677e6;
  --ifm-color-primary-lighter: #3f88eb;
  --ifm-color-primary-lightest: #6ea9f2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4a88f7;
  --ifm-color-primary-dark: #2770f5;
  --ifm-color-primary-darker: #1262f3;
  --ifm-color-primary-darkest: #0046cb;
  --ifm-color-primary-light: #679cf9;
  --ifm-color-primary-lighter: #7aa7fb;
  --ifm-color-primary-lightest: #a0c2fe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Custom styles for footer */
.footer--dark {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer__copyright {
  text-align: center;
}